.containerWatterMath{

  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.img{
  display: none;

}
.text{
  text-align: center; 
  padding-top: 80px;
  width: 312px;
}
.headline{
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  text-align: center;
  margin: 0;
}
.headText{
  font-weight: 400;
  font-size: 28px;
  line-height: 129%;
  text-align: center;
  margin: 0;
}
.blok{

}
.classic{
  display: block;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 40px;
}
.textLeft{
  width: 323px;
  height: 298px;
  margin-top: 24px;
  text-align: center;

}
.textRight {
  text-align: right;
  width: 323px;
  height: 298px;
  margin-top: 24px;
  text-align: center;
  margin-bottom: 80px;
}
.titleMatch{
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;

}
.textMatch{
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--text-gray-color);
  margin-top: 24px;
  margin-bottom: 24px;
}
.math{
  position: relative;
  justify-content: center;
  border: 1px solid #e2e4e8;
  background: var(--text-white-color);
  border-radius: 15px;
  width: 323px;
  height: 64px;
  display: flex;
}
.mathSum{
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var(--text-black-color);
}
.matResult{
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--background-color, #31519f);
}
.multiply{
  width: 11px;
  height: 10px;
  padding-left: 26px;
  padding-right: 26px;
 
}
.sumBlok{
  width: 140px;
  height: 26px;
  white-space: nowrap;
}
.matBlok{
  display: flex;
  justify-content: center;
}
.buttonMathPlus{
  position: absolute;
  top: -11.5px;
  border-radius: 11px;
  background:var(--background-color, #31519f);
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
}
.buttonMathPlus:hover{
  width: 25px;
  height: 25px;
}
.buttonMathMinus{
  position: absolute;
  bottom: -11.5px;
  border-radius: 11px;
  background: var(--background-color, #31519f);
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
}
.buttonMathMinus:hover{
  width: 25px;
  height: 25px;
}
.buttonSvg{
  width: 10px;
  height: 9px;
  padding: 0;

}
.button{
  border-radius: 50px;
  width: 209px;
  height: 61px;
  border: none;
  cursor: pointer;
  background: var(--button-color, #ffcf3b);
  margin-top: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  color: var(--text-black-color);
}

@media screen and (min-width: 1024px) {
  .containerWatterMath{
  height: 838px;

}
.blok{
  display: flex;
  margin-bottom: 100px;

}
.img{
  width: 415px;
  height: 500px;
  padding-left: 55px;
  margin-right: 55px;
  margin-top: 50px;
  display: block;
}
.text{
  padding-top: 100px;
  width: 845px;
}
.headline{
  font-size: 34px;

}
.headText{
  font-size: 34px;

}
.textLeft{
  margin-top: 115px;
  text-align: left;
 
}
.textRight {
  text-align: right;
  margin-top: 115px;

}



}
@media screen and (min-width: 720px){
  .classic{
  display: none;
}
.text{
  width: 712px;
}

}
@media screen and (min-width: 634px){

.text{
  width: 712px;
}

}


