.headerContainer{
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}
.container {
  
  height: 14px;
  
}
.navList {
  width: 100%;
  max-width: 1200px;
  margin: 32px auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
 
}
.list {
  
}
.headerLink {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  text-transform: uppercase;
  color: #000;
  white-space: nowrap;
  text-decoration: none;
  
}
.active {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  text-transform: uppercase;
  color: #ffcf3b;
  white-space: nowrap;
  text-decoration: none;
}
