.slideContainer {
  position: relative;
  border-radius: 16px;
  width: 312px;
  height: 175px;
  margin-top: 40px;

}
.slideImage{
  height: 181px;
  position: absolute;
  border-radius: 0 0 16px 0;
  right: 0;
  bottom: 0;

}
.slideText {
  width: 144px;
  padding-top: 23px;
  padding-left: 16px;
  position: absolute;

}
.slideTitle{
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: var( --text-white-color, #fff);
  margin: 0;
  padding-bottom: 8px;
}
.slideText1{
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: var( --text-white-color, #fff);
  margin: 0;
  z-index: 10;
}
.slideText2{
  font-weight: 700;
  font-size: 16px;
  line-height: 131%;
  color: var( --text-white-color, #fff);
  margin: 0;  
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  margin-top: 24px;
  gap: 12px;
}
.dot {
  height: 16px;
  width: 16px;

}
.dotActive {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
