.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.title{
  font-weight: 700;
  font-size: 34px;
  line-height: 129%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0;

}

.containerBlok {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  
}

.row {
  display: flex;
  justify-content: space-between; 
  width: 1200px;
  gap: 30px;
  margin: 0;
}

.blok{
  border-radius: 24px;
  width: 370px;
  height: 350px;
  background: #fff;
  margin-top: 20px;

}
.button{
  border-radius: 50px;
  padding: 13px 23px;
  width: 131px;
  height: 40px;
  background: #ffcf3b;
  margin-top: 40px;
  margin-bottom: 100px;
  border: none;
  cursor: pointer;

}
.buttonSvg{
  width: 8px;
  height: 6px;
  padding-left: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  color: #000;
  padding: 40px 40px 24px;
  margin: 0;
}
.blokTestimonials{
  padding-left: 40px;
  width: 207px;
  height: 46px;
  display: flex;

}
.image{
  width: 46px;
  height: 46px;
  border-radius: 24px;

}
.testimonialsBlok{
  padding-left: 16px;
  
}
.titleTestimonials{
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  padding-top: 6px;

}
.star{
    display: flex;
    width: 92px;
height: 12px;
}
/* Стилі для мобільних пристроїв */
@media (max-width: 767px) {
  .container {
    padding-top: 50px; /* Зменште верхній відступ контейнера на мобільних пристроях */
    padding-bottom: 50px; /* Зменште нижній відступ контейнера на мобільних пристроях */
  }

  .title {
    font-size: 24px; /* Зменште розмір шрифту заголовку на мобільних пристроях */
    padding-top: 40px; /* Зменште верхній відступ заголовку на мобільних пристроях */
    padding-bottom: 20px; /* Зменште нижній відступ заголовку на мобільних пристроях */
  }

  .containerBlok {
    flex-direction: column; /* Змініть напрямок контейнера на вертикальний на мобільних пристроях */
    align-items: center; /* Вирівняйте елементи по центру по горизонталі на мобільних пристроях */
  }

  .row {
    flex-direction: column; /* Змініть напрямок рядків на вертикальний на мобільних пристроях */
    width: 100%; /* Змініть ширину рядків на повну ширину на мобільних пристроях */
    gap: 20px; /* Додайте зазори між елементами рядків на мобільних пристроях */
  }

  .blok {
    width: calc(100% - 20px); /* Зменште ширину блоків на мобільних пристроях */
    margin-top: 0; /* Видаліть верхній відступ блоків на мобільних пристроях */
    margin-bottom: 20px; /* Збільште нижній відступ блоків на мобільних пристроях */
  }

  .button {
    width: 131px; /* Залиште ширину кнопки як на десктопі на мобільних пристроях */
    margin-top: 20px; /* Зменште верхній відступ кнопки на мобільних пристроях */
    margin-bottom: 50px; /* Збільште нижній відступ кнопки на мобільних пристроях */
  }

  .text {
    padding: 20px; /* Зменште внутрішні відступи тексту на мобільних пристроях */
  }

  .blokTestimonials {
    padding-left: 0; /* Видаліть відступ зліва для блоку відгуку на мобільних пристроях */
    width: 100%; /* Змініть ширину блоку відгуку на повну ширину на мобільних пристроях */
    justify-content: center; /* Вирівняйте елементи по центру по горизонталі на мобільних пристроях */
  }

  .testimonialsBlok {
    padding-left: 0; /* Видаліть відступ зліва для блоку з ім'ям і рейтингом на мобільних пристроях */
  }
}
