.container {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url(../../assets/img/background-image.png);
  position: relative;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin-top: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.main{
  width: 312px;
  height: 311px;

}
.title{
  font-weight: 700;
  font-size: 45px;
  line-height: 111%;
  color: var( --text-white-color, #fff);
  margin: 0;

}

@media screen and (min-width: 1024px) {
   .container{
      background-image: url('../../assets/img/background-image.png'); 
      height: 600px;
      margin-top: 34px;
     
   }
   .main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 355px;
}
.title{
  font-size: 70px;
  line-height: 110%;

}
  }
.containerWatterMath{
   background: #f4f4f4;

}

.text1{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;  
  line-height: 130%;
  color: var( --text-white-color, #fff);
  margin: 0;
  padding-top: 24px;
}

.text2{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: var( --text-white-color, #fff);
  margin: 0;
  padding-bottom: 24px;
  
  
}
.button{
  border-radius: 50px;
  padding: 21px 41px;
  width: 238px;
  height: 61px;
  background: var(--button-color, #ffcf3b);
  cursor: pointer;
  border: none;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  color: var(--text-black-color);
 
 
}