.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;


}
.containerSeo{
  width: 1200px;
  margin-bottom: 100px;

}
.title{
  font-weight: 700;
  font-size: 34px;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.right{
width: 540px;
height: 1055px; 
}
.left{
width: 540px;
height: 1055px;
}
.blokContainer{
display: flex;
justify-content: space-between;
}
.rightText {
font-weight: 400;
font-size: 14px;
line-height: 179%;
color: #7d818d;
margin: 0;
}
.rightTitle{
font-weight: 700;
font-size: 14px;
line-height: 179%;
color: #7d818d;
margin: 0;
padding-top: 24px;
padding-bottom: 8px;
}
/* Стилі для мобільних пристроїв */
@media (max-width: 767px) {
  .container {
    padding: 0 20px; /* Додайте зовнішні відступи для контейнера на мобільних пристроях */
  }

  .containerSeo {
    width: 100%; /* Змініть ширину на повну ширину контейнера для мобільних пристроях */
    margin-bottom: 50px; /* Зменште відступ знизу контейнера на мобільних пристроях */
  }

  .title {
    font-size: 24px; /* Зменште розмір шрифту заголовку на мобільних пристроях */
    margin-top: 50px; /* Зменште відступ зверху для заголовку на мобільних пристроях */
    margin-bottom: 30px; /* Зменште відступ знизу для заголовку на мобільних пристроях */
  }

  .right, .left {
    width: 100%; /* Змініть ширину блоків на повну ширину на мобільних пристроях */
    height: auto; /* Змініть висоту блоків на автоматичне на мобільних пристроях */
  }

  .blokContainer {
    flex-direction: column; /* Змініть напрямок контейнера на вертикальний на мобільних пристроях */
    gap: 20px; /* Додайте зазори між елементами контейнера на мобільних пристроях */
  }

  .rightTitle, .rightText {
    font-size: 12px; /* Зменште розмір шрифту тексту на мобільних пристроях */
    line-height: 130%; /* Збільште міжрядковий інтервал на мобільних пристроях */
  }
}
