.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.blokContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right{
  width: 312px;

}
.left{
  width: 312px;
  margin-bottom: 80px;
}
.title{
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
  width: 312px;
  margin-bottom: 40px;

}
.rightText {
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  color: var(--text-gray-color);
  margin: 0;
}
.rightTitle{
  font-weight: 700;
  font-size: 14px;
  line-height: 179%;
  color: var(--text-gray-color);
  margin: 0;
  padding-top: 24px;
  padding-bottom: 8px;
}


@media screen and (min-width: 1024px) {
  .containerSeo{
  width: 1200px;
  margin-bottom: 100px;
}
.blokContainer{
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.right{
  width: 540px;
  height: 1055px; 

}
.left{
  width: 540px;
  height: 1055px;
  margin: 0;

}
.title{
  font-size: 34px;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
}

}

