.container{
    width: 100%;
    max-width: 375px;
    min-width: 375px;
    margin: 0 auto 0 auto;

}
.header{
   padding: 16px 24px 0 24px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 
}
.button{
   display: none;
}
svg{
   width: 40px;
   height: 40px;

} 
.social{
   display: flex;
   gap: 12px;

}
.right{
   display: none;

}
.burgerButton{
   border: none;
   background-color: transparent;
   cursor: pointer;
}
.burgerIcon { 
   width: 30px;
   height: 25px;
}


@media screen and (min-width: 1024px) {
.container{
   max-width: 1200px;

}
.header{
   padding: 0;
   margin-top: 16px;
   position: relative;
}
.header::after {
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, #fff 0%, #eee 49.98%, #fff 99.88%); 
}
.left {
   width: 245px;
   height: 40px;
   display: flex;
   flex-direction: row;
   gap: 12px;
}
 .burgerButton{
   display: none;
   }

  .button{
   border-radius: 50px;
   padding: 13px 23px;
   width: 141px;
   height: 40px;
   background: var(--button-color, #ffcf3b);
   border: none;
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 12px;
   line-height: 117%;
   text-align: center;
   color: var(--text-black-color);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: nowrap;
}
.svgTel{
   display: none;
}
.right{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 16px;
}
.social {
   width: 92px;
   height: 40px;
   display: flex;
   flex-direction: row;
   gap: 12px;
}
.logo{
   margin: 0 50px;
}
.buttonOn{
   border: 2px solid #ffcf3b;
   border-radius: 50px;
   padding: 7px 12px;
   width: 72px;
   height: 39px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 14px;
   line-height: 179%;
   text-align: center;
   color: var(--text-black-color);
   cursor: pointer;
}
.buttonPhone{
   border: 2px solid #ffcf3b;
   border-radius: 16px;
   width: 136px;
   height: 64px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   cursor: pointer;
}
.blockPhone{
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.phoneLink{
   text-decoration: none;
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 12px;
   line-height: 117%;
   text-align: center;
   color: var(--text-black-color);
}
.blockPhone{
   display: flex;
   flex-direction: column;
}
.svg{
    width: 8px;
    min-width: 8px;
    max-height: 6px;
}
}
