.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--background-color, #31519f);
    position: relative;
}
.logoFooter{
    width: 312px;
    height: 119px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.text{
    color: var( --text-white-color, #fff);
    opacity: 0.25;
    margin-top: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
}
.menuFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}
  .menuText{
    font-weight: 700;
    font-size: 12px;
    line-height: 117%;
    text-transform: uppercase;
    color: var( --text-white-color, #fff);
    margin: 0;
}
.payments{
    width: 312px;
    height: 80px;
    margin-top: 40px;
}
.paymentsText{
    font-weight: 700;
    font-size: 12px;
    line-height: 117%;
    color: var( --text-white-color, #fff);
    margin: 0;
    text-align: center;
}
.imgMenu{
    display: flex;
    align-items: center;
    margin-top: 19px;
    flex-wrap: wrap;
    justify-content: center;    
}
.phones{
    margin-top: 40px;
    justify-content: center;
    display: flex;
}

.img{
    width: 171px;
    height: 41px;
}

.imgLiqpay{
    margin-left: 16px;
}
.imgVisa{
    margin-top: 16px;
}

.iconSvg{
    width: 24px;
    height: 24px;

}
.contactsList{
    list-style: none;
    padding: 0;
    margin: 0;

}
.contactsItem{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}
.telList{
    font-weight: 700;
    font-size: 12px;
    line-height: 117%;
    text-transform: uppercase;
    color: var( --text-white-color, #fff);
    text-decoration: none;
}
.social{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 80px;
}
.buttonSocial{
    border-radius: 50px;
    padding: 13px 23px;
    width: 141px;
    height: 40px;
    background: var(--button-color, #ffcf3b);
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 117%;
    text-align: center;
    color: var(--text-black-color);
}
.socialSvg{
    display: flex;
    gap: 16px;
    margin-top: 24px;
}
.icons{
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.iconSocial{
    width: 50px;
    height: 50px;
}

.shoppingIcon{
    border-radius: 16px 0 0 16px;
    width: 60px;
    height: 60px;
    background: var(--button-color, #ffcf3b);
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.rectangle{
    width: 32px;
    height: 32px;
}
.arrowDowm{
    width: 12px;
    height: 8px;
}

@media (min-width: 1024px) {
.footer{
    height: 355px;
}
.footerSection{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logoFooter{
    width: 200px;
    height: 155px;
    margin: 0;
    align-items: baseline;
}
.text{
    margin-top: 62px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 133%;
}
.menuFooter{
    width: 140px;
    height: 154px;

}
.payments{
    width: 176px;
    height: 129px;
    margin: 0;
}
.paymentsText{
    text-align: left;
}
.phones{
    width: 139px;
    height: 152px;
    margin: 0; 
}
.social{
    margin: 0;
    align-items: flex-end;
}
.socialSvg{
    margin-top: 62px;
}
.icons{
    gap: 40px;
    top: 55px;
}
}
