.container {
  margin-top: 80px;
  margin-bottom: 80px;
}
.title{
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 129%;
  text-align: center;
}

.sliderWrapper{
  display: none;
}
.sliderItem{
  display: flex;
  border-radius: 16px;
  position: relative;
  width: 455px;
  height: 200px;
}
.blokText{
  width: 188px;
  height: 84px;
  margin-left: 40px;
  margin-top: 58px;
}
.text{
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var( --text-white-color, #fff);
  margin: 0;
  padding-bottom: 16px;
}
.text1{
  font-size: 16px;
  line-height: 131%;
  color: var( --text-white-color, #fff);
  margin: 0;

}
.text2{
  font-weight: 700;
  font-size: 16px;
  line-height: 131%;
  color: var( --text-white-color, #fff);
  margin: 0;
}
.image{
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 0 16px 0;
}
.prevButton{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  background: var(--button-color, #ffcf3b);
  width: 50px;
  height: 50px; 
  border: none;
  cursor: pointer;
}
.nextButton{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  background: var(--button-color, #ffcf3b);
  width: 50px;
  height: 50px; 
  border: none;
  cursor: pointer;
}
.buttonSvg{
  width: 8px;
  height: 11px;

}
.sliderWrappeMobil{
  display: flex;
  justify-content: center;

}

@media screen and (min-width: 1024px) {
  .container {
  width: 100%;
  height: 320px;
  max-width: 1200px;
  margin: auto;
  margin-top: 94px;
  margin-bottom: 100px;
}
  .sliderWrapper{
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 79px;
    margin-top: 50px;
  }
  .sliderWrappeMobil{
    display: none;
  }

}